* {
    box-sizing: border-box;
}

a.button {
    text-decoration: none;
}

button.button {
    border: none;
    background-color: transparent;
    font-family: inherit;
    padding: 0;
    cursor: pointer;

    @media screen and (-ms-high-contrast: active) {
        border: 2px solid currentColor;
    }
}
